torch
ogbench
jax[cuda12]
nvidia-cusparse-cu12
numpy<2
optax
chex
einops
jaxtyping
ninjax>=3.5.1
elements>=3.17.0
google-resumable-media>=2.7.2
granular>=0.20.3
portal>=3.5.0
scope>=0.4.4
av
colored_traceback
ipdb
requests
tqdm
wandb

# git clone https://github.com/danijar/embodied.git
# wandb login